<!DOCTYPE html>
<html lang="en">

<head>
    <title>Fornecedor</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>


    <form  action="/admin/fornecedorcomprarParafusos" method="POST">
        
        <div class="col-sm-6 mb-3 mb-sm-0">
            <input type="text" class="form-control form-control-user" id="numeroOrder" placeholder="Insira um número de Encomenda"
            name="numeroOrder" required>
          </div>
        <div class="text-center">
            <button class="small" type="submit">Comprar Parafusos!</button>           
        </div>                      
   
       </form>

       <form  action="/admin/fornecedorcomprarMadeira" method="POST">
        
        <div class="col-sm-6 mb-3 mb-sm-0">
            <input type="text" class="form-control form-control-user" id="numeroOrder" placeholder="Insira um número de Encomenda"
            name="numeroOrder" required>
          </div>
        <div class="text-center">
            <button class="small" type="submit">Comprar Madeira!</button>           
        </div>                      
   
       </form>





<script src="public/catalog/js/main.js"></script>

</body>
</html>