.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

footer{
  padding: 15px;
  background-color: rgb(192,192,192);
}
footer h1,h2,h3,h4,h5,h6{
  color: rgb(255,140,0);
}
