.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

footer{
  padding: 15px;
  background-color: rgb(192,192,192);
}
footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6{
  color: rgb(255,140,0);
}


.section-regular{
  text-align: center;
  padding: 50px;
}

.section-orange{
  background-color: rgb(255,140,0);
}

.section-white{
  background-color: rgb(255,255,255);
}