<!-- Footer -->
<footer class="bg-light py-5">
    <div class="container">
      <div class="col-md-3 col-sm-3">
      <img src="/public/img/APCER-9001_2.png" class="img-fluid d-block mx-auto">
    </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/public/index/vendor/jquery/jquery.min.js"></script>
  <script src="/public/index/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/public/index/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/public/index/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/public/index/js/creative.min.js"></script>

</body>

</html>
