<!DOCTYPE html>
<html lang="en">

<head>
    <title>carrinho</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>


	<form  action="/catalog/encomendar" method="POST">
	 <div class="text-center">
         <button class="small" type="submit">Encomendar!</button>           
     </div>                      

    </form>
	<form  action="/catalog/buy" method="POST">
        <div class="text-center">
            <button class="small" type="submit">Comprar!</button>           
        </div>                      
   
    </form>
	<form  action="/catalog/pagar" method="POST">
        <div class="text-center">
            <button class="small" type="submit">Pagar!</button>           
        </div>                      
   
    </form>

	<script src="public/catalog/js/main.js"></script>

</body>
</html>
