<!DOCTYPE html>
<html lang="en">

<head>
    <title>carrinho</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>


	<form  action="/catalog/buy" method="POST">
	 <div class="text-center">
         <button class="small" type="submit">Buy!</button>           
     </div>                      

	</form>


	<script src="public/catalog/js/main.js"></script>

</body>
</html>
