<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/public/bootstrap-4.2.1-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/public/index/index.css">
  <link rel="icon" href="/public/img/favicon.ico">

  <title>Sovifrige</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Sovifrige</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#footer">Contacts</a>
          </li>

          <% if (isAuthenticated) { %>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          <% if (user.type === 'admin') {%>
          <li class="nav-item">
            <a class="nav-link" href="/users">Users</a>
          </li>
          <% } %>
          <% } %>
          <li class="nav-item">
            <% if (isAuthenticated) { %>
            <a class="nav-link" href="/logout">Logout</a>
            <% } else { %>
            <a class="nav-link" href="/login">Login</a>
            <% } %>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="/public/img/1080p-Full-HD-Images-For-Desktop-620x349.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100"
            src="/public/img/75a4c2d1dc2dbce3342109e8270ff4f3.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="/public/img/RpB8XBO.jpg" alt="Third slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>
  <!-- Page Content -->

  <section class="section-regular section-orange">
    <h3>What are we?</h3>
    <p>Sovifrige operates in the sector of equipment and services for hotel, restaurant and food distribution.
      We are a leader and reference company, for the quality of our products, professionalism of our services and
      confidence
      that we inspire the market and our customers, proven by the great implementation we have in the market. </p>
    <p>
      It is a company with 20 years, aiming at the continuous satisfaction of its customers through the improvement
      and innovation of its products, being this, its permanent project of progress. Due to these factors it is now an
      added value in the manufacture of Hotel Equipment.</p>
  </section>

  <form action="/rate" method="post"  id="contact_form">
    <button type ="submit">SUBMETER</button>
  </form>

  <section class="section-regular section-white">
    <h2>Location</h2>
    <div class="col-lg-12">
      <iframe id="map" 
          width="1024"
          height="800"
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/place?key=  AIzaSyBJNYACAE6o687rKfT7b3iObXduuWIm0EM 
            &q=Sovifrige+-+Indústria+De+Equipamentos+Hoteleiros,+Lda" allowfullscreen>
      </iframe>
  </div>            
</div>  
</div>
  </section>


  <!-- Footer -->
  <footer class="page-footer font-small pt-4" id="footer">
    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5>Headquarters</h5>
          <a>Sovifrige - Indústria e Equipamentos Hoteleiros, Lda</a><br>
          <a>Rua Venda de Cima Lt 12 Sequeira</a><br>
          <a>4705-885 BRAGA, PORTUGAL</a>

        </div>
        <!-- Grid column -->

        <!-- 2º column -->
        <div class="col-md-3">
          <h5>Contacts</h5>
          <ul class="list-unstyled">
            <li>
              <a>+351 253 605 520</a>
            </li>
            <li>
              <a>+351 253 605 521</a>
            </li>
            <li>
              <a>sovifrige@net.novis.pt</a>
            </li>
          </ul>
        </div>

        <!-- 3º column -->
        <div class="col-md-3 mb-md-0 mb-3">
          <h5>Schedules</h5>
          <ul class="list-unstyled">
            <li>
              <a>Monday to Friday</a>
            </li>
            <li>
              <a>8:30 - 17:30</a>
            </li>
          </ul>

        </div>
      </div>
    </div>
    </section>
  </footer>

  <script src="/public/jquery/jquery-3.3.1.slim.min.js"></script>
  <script src="/public/bootstrap-4.2.1-dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>