<!DOCTYPE html>
<html lang="en">

<head>
    <title>Fornecedor Parafusos</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>




          <!-- Begin Page Content -->
   <div class="container-fluid">


            <!-- Content Row -->
      <div class="row">

       <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                  <% if (parseFloat(body.price) < parseFloat(body1.unitPrice)) {%> 
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Preço Bitrix24</div>
                
                <div class="h5 mb-0 font-weight-bold text-gray-800"><%= body.price %> €</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-calendar fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% } else { %>
    <div class="row">

      <div class="col-xl-3 col-md-6 mb-4">
       <div class="card border-left-primary shadow h-100 py-2">
         <div class="card-body">
           <div class="row no-gutters align-items-center">
             <div class="col mr-2">
               <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Preço Fornecedor Dynamics</div>
               <div class="h5 mb-0 font-weight-bold text-gray-800"><%= body1.unitPrice %> €</div>
             </div>
             <div class="col-auto">
               <i class="fas fa-calendar fa-2x text-gray-300"></i>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
  </div>

  <% } %>

  <form  action="/admin/fornecedorcomprarParafusosNav" method="POST">
        
    <div class="col-sm-6 mb-3 mb-sm-0">
        <input type="text" class="form-control form-control-user" id="numeroOrder" placeholder="Insira um número de Encomenda"
        name="numeroOrder" required>
      </div>
    <div class="text-center">
        <button class="small" type="submit">Comprar Parafusos Nav!</button>           
    </div>                      

   </form>

   <form  action="/admin/fornecedorcomprarParafusosBitrix" method="POST">

    <div class="text-center">
        <button class="small" type="submit">Comprar Parafusos Bitrix!</button>           
    </div>                      

   </form>

</body>
</html>